registry=https://registry.npmjs.org/
save-exact=true
package-lock=true
audit=true
fund=false
progress=true
loglevel=notice
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000

prefer-online=true
